body {
	padding: 20px;
}

.col-main {
	padding: 10px;
	border: 2px solid #ccc;
	width: 70%;
	float: left;
	display: block;
	margin-bottom: 20px;
}

.btn {
	margin: 2px 0;
	background-color: #666;
	color: #fff;
	cursor: pointer;
}

.btn-primary {
	background-color: #563d7c;
}

